:root{
    --mainColor:#15202B;
    --secondaryColor: #43477e; 

    --borderColor:#4e6b6f;

    --mainText:#fff; 
    --secondaryText: #eee; 

    --themeDotBorder: #fff;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow:#111921; 

    --btnColor: #17a2b8; 
    --linkColor: #fff; 
}