:root{
    --mainColor:#15202B;
    --secondaryColor: #192374; 

    --borderColor:#164D56;

    --mainText:#fff; 
    --secondaryText: #eee; 

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow:#f0ead6; 

    --btnColor: black; 
}